html, body {
	padding: 0vmin;
	margin: 0vmin;
	overflow: hidden;
	font-family: "Gotham Narrow SSm", sans-serif;
}
h1 {
	width: 70vw;
	margin: 15vmin auto;
	font-family: sans-serif;
	font-size: 5vmin;
	font-weight: normal;
	text-align: center;
}

div#first {
	width: 100vw;
	height: 100vh;
	display:flex;
	justify-content: center;
}

div#second {
	width: 100vw;
	height: 100vh;
	display:flex;
	justify-content: center;
}

img.slide {
	width: 100vw;
	height: 100vh;
}

div#twitter_bg {
    background-color: #1DA1F2;
    overflow: hidden; /* also prevents margins from collapsing */
    width: 100%;
    height: 100%;
}

div#twitter_content {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	background-color: #F5F8FA;
	width: 70vw;
	height: 80vh;
	margin-top: 4vh;
	margin-left: auto;
	margin-right: auto;
	border: 0vmin;
	border-radius: 7vmin;
	padding-top: 5vmin;
	padding-left: 5vmin;
	padding-right: 5vmin;
	padding-bottom: 3vmin;
	text-align: center;
	box-shadow: -5px 5px 0 #333
}

div#twitter_title{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	font-size:3vw;
	margin-bottom: 2vw;
}

span#username {
	padding-left: 1em;
}

img#twitter_logo {
	height: 8vh;
	vertical-align: middle;
	padding-right: 1em;
}

div#twitter_text {
	margin-bottom: 1vw;
}

div#twitter_img {
	margin-bottom: 1vw;
}

div#twitter_img img {
	max-height:40vh;
	max-width:70%;
}

div#twitter_footer{
	display:flex;
	flex-direction: row;
	align-items: bottom;
	justify-content:space-between;
	justify-self:end;
}

span#twitter_qrcode{
	align-items: flex-end;
	margin-top: auto;
	margin-bottom: 0vw;
}

span#twitter_timestamp {
	font-size: 3vmin;
	align-items: flex-end;
	margin-top: auto;
	margin-bottom: 0vw;
}

#thevideo{
	height:50vw;
	width: 90vw;
}